.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
}

.logo{
    height: 100%;
	width: 70px;
    padding: 25px;
    cursor: pointer;
}

.options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.option{
    padding: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
